$mainFont: 'Raleway', sans-serif;
//break points
// colors 
$primaryColor: #33C3F0;
$secondaryColor: #741d51;
$alternativeColor: #e44e52;
$grayColor: #f2f2f2;
$whiteColor: #ffffff;
$blackColor: #000000;